.dropdown_wrapper {
  display: inline-block;
  position: relative;
}

.dropdown_activator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s linear;
}

.dropdown_activator:hover {
  background-color: #1272ab;
  color: white;
}

.dropdown_item_list {
  background: white;
  width: 100%;
  display: none;
  z-index: 1000;
}

.dropdown_item_list.active {
  display: grid;
}

.item_list {
  list-style: none;
}

.item_list:last-child a {
  border-bottom: none;
}

.item_list a,
.item_list a:link {
  display: flex;
  width: 100%;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem;
  transition: all 0.1s linear;
}

.item_list a:hover {
  width: 100%;
  background-color: #1272ab;
  color: white;
}
